process {
  container = 'ghcr.io/juyeongkim/geodock:latest'
  errorStrategy = 'ignore'
}

profiles {
  standard {
    process {
      executor = 'local'
      maxForks = 1
      cpus = 2
    }
    docker {
      enabled = true
      runOptions = "--cpus=2"
    }
  }
  cluster {
    process {
      executor = 'slurm'
      cpus = 2
      memory = '13 GB'
    }
    apptainer {
      enabled = true
      runOptions = "--cpus=2"
      autoMounts = true
    }
  }
}